@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand100: #571aff;
  --brand200: #4c0bff;
  --gray100: #22262a;
  --gray900: #fafdff;
  --alert100: #ce4646;
  --alert200: #d83535;
  --sucess100: #4ba036;

  --font-title-1: 2.5rem;
  --font-title-2: 1.875rem;
  --font-title-3: 1.25rem;
  --font-title-4: 1.125rem;
  --font-title-5: 1rem;


  --font-text-1:  1rem;


  --font-weight-1: bold;
  --font-weight-2: 500;
  --font-weight-3: 400;

  --line-height-1: 150%;

}

body {
  font-family: "Poppins", sans-serif;
}

header{
  box-shadow: 0px 11px 17px -6px #00000029;
}

ul{
  list-style: none;
}

