.toast-container {
    position: fixed;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 4px 4px var(--brand100);
    animation: toastIt 4000ms ease-in forwards;
}

@keyframes toastIt {
    0%   {right: 30px; top:-100px}
    25%  {right: 30px; top:10px}
    50%  {right: 30px; top:10px}
    100% {right: 30px; top:-100px}
}

.successToast {
    border: 2px solid var(--sucess100);
    background-color: var(--sucess100);
    color: var(--gray900);
}

.errorToast {
    border: 2px solid var(--alert100);
    background-color: var(--alert100);
    color: var(--gray900);
}

