.border {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.company-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78px;
  background: #4200ff;
  color: #ffffff;
}

#co-workers {
  width: 100%;
  height: 467px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 2rem;
}

li {
  width: 318px;
  height: 76px;
  padding: 1rem;
  background: #ffffff;
  border: 1px solid #4200ff;
}
